

@{
    ViewBag.Title = "Lá vem o bebê";
}


<div class="container">

    <div class="texto-espacado-10">
        <div class="row">
            <div class="col-8">
                <h2 class="frase-header">Lá vem o bebê! Saiba como preparar o seu cachorro.</h2>
            </div>
            <div class="col-4 text-right">
                <a class="btn btn-azul" href="@Url.Action("Index", "Materias")">Voltar</a>
            </div>
        </div>

    </div>

    <div>

        <p>
            A chegada de um bebê, sem dúvida, muda toda a rotina da família e da casa. Nesse período, é comum que os cuidados com o recém-nascido ocupem boa parte do tempo que antes era destinado ao cão. Com isso, é natural que os cães associem a chegada do bebê com perda de atenção e carinho – e esse pode ser o motivo de um cão não gostar de uma criança. Mesmo que essa associação não ocorra, o animal poderá ficar inseguro e ansioso caso sinta que o interesse por ele diminuiu, apresentando mudanças comportamentais.
        </p>

        <p>
            A reação do animal é natural, mas a forma como o tutor lida com essa questão geralmente não é a correta. Confira <span class="font-weight-bold">mitos e verdades</span> e saiba como preparar o seu cãozinho para esse período de adaptação e mudanças.
        </p>

        <p class="mt-4">
            <h5>Cães começam a querer chamar atenção</h5>
            <span class="text-success font-weight-bold">
                <img src="@Url.Content("~/Content/images/tick.png")" />
                Verdade!
            </span>
            O cão geralmente tenta resgatar a atenção que antes era só dele. O animal pode começar a ter atitudes como latir, uivar e pular, já que nessas situações alguém certamente irá interagir com ele para que ele pare. Para evitar esse comportamento, não faça mudanças bruscas na vida de um cão. Antecipe as mudanças e torne-as gradativas, começando a preparar o cão antes do bebê chegar. Por exemplo, se o cão não vai poder entrar em um quarto depois do local ser ocupado pelo bebê, é preferível pôr em prática a proibição algumas semanas antes, o que evita a associação da presença do novo membro da família com a perda do espaço.
        </p>

        <p class="mt-4">
            <h5>Cães ficam agressivos com a chegada do bebê</h5>
            <span class="text-danger font-weight-bold">
                <img src="@Url.Content("~/Content/images/x.png")" />
                Mito!
            </span>
            O cachorro não se torna agressivo porque há um novo integrante na família. Ele fica, na verdade, entediado pela falta de atenção, apreensivo devido a todas as mudanças e inseguro com o novo ambiente. Essas emoções fazem com que o animal tente se proteger, o que pode ser confundido com agressividade.
        </p>

        <p class="mt-4">
            <h5>Cães e bebês podem ser amigos</h5>
            <span class="text-success font-weight-bold">
                <img src="@Url.Content("~/Content/images/tick.png")" />
                Verdade!
            </span>
            Não é porque o cachorro perdeu o reinado que ele não poderá ter um bom convívio com o bebê. Há muitos mais relatos de amizade entre cães e crianças do que o oposto. Para estimular a amizade, associe o bebê com coisas interessantes para o cão. Quando estiver com o bebê no colo ou por perto, dê-lhe petiscos, carinho e atenção. O cão terá todos os motivos para não gostar da criança se perceber que somente recebe atenção na ausência dela ou se, quando ela está por perto, os donos o ignoram por completo – cenas, aliás, bastante comuns.
        </p>

        <p class="mt-4">
            <h5>
                Quando amigos, cães e bebês já podem ficar sozinhos
            </h5>
            <span class="text-danger font-weight-bold">
                <img src="@Url.Content("~/Content/images/x.png")" />
                Mito!
            </span>
            Não deixe uma criança junto de um cão – mesmo que manso – sem a supervisão de um adulto. Crianças têm comportamentos imprevisíveis e podem colocar o animal em situações que ele ainda não foi testado – como puxar o rabo e a língua, apertar as orelhas, subir em cima – e, por isso, a reação do cão pode não ser muito boa, mesmo havendo uma amizade.
        </p>

        <p class="mt-4">
            <h5>Colocar o cão em contato com objetos do bebê ajuda na adaptação</h5>
            <span class="text-success font-weight-bold">
                <img src="@Url.Content("~/Content/images/tick.png")" />
                Verdade!
            </span>
            Deixar o cão cheirar as roupinhas e permitir o acesso aos brinquedos e outros objetos do bebê diminui a curiosidade do animal e associa o cheiro da criança com coisas boas, aumentando as chances do cão considerar a criança como parte da “matilha”. Vale colocar panos com o cheiro do bebê embaixo do prato de comida do cão e nos locais onde o animal gosta de dormir e relaxar.
        </p>

        <p class="mt-4">
            <h5>É necessário dessensibilizar o cão ao toque</h5>
            <span class="text-success font-weight-bold">
                <img src="@Url.Content("~/Content/images/tick.png")" />
                Verdade!
            </span>
            Quando a criança estiver em fase de engatinhar ou andar, ela tenderá a se apoiar no cão. Ou, mesmo sem intenção de machucar, ela poderá puxar os pelos do animal, por isso, para evitar problemas, é necessário que o cão já esteja acostumado a este tipo de contato. Nesse caso, um processo de adestramento é fundamental.
        </p>


    </div>




</div>




