

@{
    ViewBag.Title = "Perguntas frequentes";
}


<div class="container">

    <div class="texto-espacado-10">
        <div class="row">
            <div class="col-8">
                <h2 class="frase-header">Perguntas frequentes</h2>
            </div>
            <div class="col-4 text-right">
                <a class="btn btn-azul" href="@Url.Action("Index", "Materias")">Voltar</a>
            </div>
        </div>

    </div>

    <div class="texto-espacado-10">

        <p>
            <h5>Posso adotar morando fora de São Paulo?</h5>
            Todas as adoções devem ser feitas pessoalmente em nossa chácara ou nos eventos de adoção. Ainda tem dúvida? Manda um e-mail para nós!
            <a href="mailto:acaochegoorg@yahoo.com.br" target="_blank">acaochegoorg@yahoo.com.br</a>.
        </p>

        <p>
            <h5>Preciso pagar alguma coisa?</h5>
            Adoções feitas na chácara não. Durante eventos pedimos a contribuição de R$ 50,00 para ajudar nos custos de deslocamento.
        </p>

        <p>
            <h5>Vocês tem cães de raça?</h5>
            Raramente. Cães de raça são muito procurados infelizmente, apesar de toda a divulgação de uma indústria cruel. Temos sim muitos vira latinhas carentes e amigáveis.
        </p>

        <p>
            <h5>Queria um filhotinho. Posso pegá-lo recém nascido?</h5>
            Não, os cães devem desmamar e passar pelo processo de castração antes de irem para o lar definitivo. Por volta dos 3 meses de idade já passaram pelos procedimentos e estão prontos.
        </p>

        <p>
            <h5>Gostei de um cão mas ele está como adoção conjunta. Posso levar só um?</h5>
            Não. Quando anunciamos uma doação conjunta é porque os fofinhos são muito apegados e só serão doados juntos. Adotar uma dupla é uma grande alegria… considere isso! :)
        </p>

        <p>
            <h5>Como funcionam as visitas?</h5>
            As visitas na chácara acontecem aos sábados à tarde. Geralmente entre 14h e 17h mas isso pode variar. Para agendar a visita e saber as direções para chegar você deve nos escrever no acaochegoorg@yahoo.com.br
            <a href="mailto:acaochegoorg@yahoo.com.br" target="_blank">acaochegoorg@yahoo.com.br</a>.
        </p>

        <p>
            <h5>Onde fica a ONG?</h5>
            A chácara fica Optamos por não divulgar nosso endereço abertamente. Acontecem alguns abandonos em nosso portão e não queremos aumentar as chances disso acontecer. Aos interessados em adoção ou visita por favor escrevam para
            <a href="mailto:acaochegoorg@yahoo.com.br" target="_blank">acaochegoorg@yahoo.com.br</a>.
        </p>

        <p>
            <h5>Escrever dizendo que eu quero o cão garante adoção?</h5>
            Não. Apenas após visita e entrevista ao vivo que o cão é destinado ao interessado.
        </p>

        <p>
            <h5>Nunca tive cachorro, dá muito trabalho? </h5>
            Cães são seres sensíveis que exigem dedicação. 
            Nesse texto você vai conseguir entender algumas preocupações:
            (<a href="@Url.Action("EstouPreparado", "Materias")">Estou preparado para adotar?</a>)
        </p>

        <p>
            <h5>Posso fazer um teste antes de adotar definitivamente?</h5>
            Não. Adotar um animal é assumir um compromisso sério e cabe a nós respeitar o tempo de cada cão. Adaptações levam tempo, algumas mais outras menos, e demandam paciência.
        </p>

        <p>
            <h5>Vocês vão monitorar a adaptação do cão?</h5>
            Sim. Provavelmente você receberá algumas ligações durante esse período.
        </p>

      
    </div>

    <div class="texto-espacado-10">
        
        <h4>SOBRE PEDIDOS DE AJUDA</h4>

        <p>
            <h5>Não posso mais ficar com meu cão. Posso levar para vocês?</h5>
            Não. Nossos olhos são voltados para cães em situação de risco. Peça ajuda aos seus amigos e familiares.
        </p>

        <p>
            <h5>Estou vendo um cão em situação de risco. Posso pedir pra vocês resgatarem?</h5>
            Não. Infelizmente nossa casa está lotada e nosso objetivo é melhorar a qualidade de vida dos animais que já moram conosco. Não atuaremos com resgate nos próximos meses.
        </p>

        <p>
            <h5>Resgatei um cão. Vocês me ajudam a divulgá-lo?</h5>
            Em nosso site e nas nossas redes sociais, optamos por anunciar apenas os cães que estão sob a nossa responsabilidade. Clique no link a seguir para ver dicas de como proceder: 
            (<a href="@Url.Action("PrecisoDeAjuda", "Materias")">Preciso de ajuda</a>).
        </p>

        <p>
            <h5>Preciso castrar um cão. Como faço?</h5>
            Há veterinários, clínicas e hospitais no Brasil inteiro que fazem castrações gratuitas ou a preços solidários. Consulte a lista 
            (<a href="http://arcabrasil.org.br/index.php/lista-vets-sp" target="_blank">http://arcabrasil.org.br/index.php/lista-vets-sp</a>)
        </p>

    </div>

    <div class="texto-espacado-10">

        <h4>SOBRE OFERTAS DE AJUDA</h4>

        <p>
            <h5>Quais as formas de colaborar?</h5>
            Você pode doar ração, caminhas, potes, remédios e outros itens. Ou dinheiro para as vacinas, internações e cirurgias. Você pode também apadrinhar algum cão
            (<a href="@Url.Action("Index","QueroApadrinhar")">Quero apadrinhar</a>) ou se tornar um voluntário
            (<a href="@Url.Action("QueroSerVoluntario", "Materias")">Quero ser voluntário</a>).
        </p>

        <p>
            <h5>Vocês aceitam doação de itens usados? </h5>
            Sim. Idealmente recebemos o material de doação direto na chácara ou em Osasco (ponto de entrega).
            Nos escreva <a href="mailto:acaochegoorg@yahoo.com.br" target="_blank">acaochegoorg@yahoo.com.br</a>.
        </p>

        <p>
            <h5>Posso me tornar voluntário?</h5>
            Sim! Nossa maior necessidade é definitivamente ter pessoas mais atuantes na chácara. Lá precisamos de ajuda nos plantões de sábado, passear com alguns cães, vacinar… sempre tem o que fazer. Virtualmente precisamos de ajuda também! 
            Voluntários reunidos nesse grupo no facebook: TIME DE APOIO ACÃOCHEGO 
            (<a href="https://www.facebook.com/groups/599507967527175" target="_blank">https://www.facebook.com/groups/599507967527175</a>).
        </p>

    </div>

</div>
