@{
    ViewBag.Title = "A Acãochego - OSCIP Acãochego";
}



<div id="pagina-aacaochego">

    <div class="container">

        <div class="texto-espacado-10">
            <h2 class="frase-header">A Acãochego</h2>
        </div>

        <div class="mt-3">

            <div class="row">

                <div class="col-xs-12 col-md-6">
                    <p>
                        A ONG Acãochego nasceu em Janeiro de 2003 com a missão de diminuir e evitar o sofrimento dos cães abandonados pelas ruas da
                        cidade de São Paulo.


                    </p>

                    <p>
                        Por compaixão usamos toda força que temos para proporcionar aos animais uma vida digna, segura e feliz.

                    </p>

                    <p>
                        Nessa trajetória já conseguimos proporcionar o encontro de mais de 650 cachorrinhos com suas famílias,
                        mas também fomos o lar de muitos outros que não tiveram a mesma sorte.

                    </p>

                    <p>

                        A chácara onde hoje vivem os cães foi conquistada em 2008. Em 2009 a Acãochego foi reconhecida pelo Ministério da Justiça
                        como uma OSCIP - Organização da Sociedade Civil de Interesse Público [nº de registro: 08071.001298/2009-90].
                        Apesar do título, não contamos com qualquer subsídio público.


                    </p>

                </div>
                <div class="col-xs-12 col-md-6">



                    <div class="row">
                        <div class="col text-center">
                            <iframe style="width:100%" height="300" src="https://www.youtube.com/embed/3AbjYDqvDb8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center">

                            <div class="row h-100">
                                <div class="col-12 my-auto">
                                    <h4 class="frase-header">Conseguimos atuar nas vidas dos cães graças à ajuda de pessoas que se identificam com o que a gente faz.</h4>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>


            </div>

        </div>


        <div id="como-atuamos">

            <div class="texto-espacado-10">
                <h2 class="frase-header">Como atuamos</h2>
            </div>

            <div class="texto-duas-colunas">

                <p>
                    Gostamos de dizer que funcionamos como ponte ao facilitar que o cãozinho chegue ao lar definitivo sendo acolhido como um novo membro da família, como se tivesse finalmente encontrado sua matilha.
                </p>

                <p>
                    Nossa intenção sempre foi tirar o animal da situação de risco e fornecer os cuidados básicos como abrigo, alimentação, recuperação física e emocional, devolvendo-lhes dignidade e segurança, tudo para que possa então estar pronto para a adoção. Pelos animais buscamos tutores que se comprometam com uma adoção responsável, com cuidados e carinho.
                </p>

                <p>
                    Quem convive sabe a felicidade que é ter um cachorrinho em casa… e só tendo um lar e um dono amoroso um cão é realmente feliz!
                </p>


            </div>

        </div>

        <div id="parceiros">

            <div class="texto-espacado-10">
                <h2 class="frase-header">Parceiros</h2>
            </div>

            <div id="parceiros-mobile" class="d-block d-sm-none">

                <div class="row">
                    <div class="col">
                        <div class="card p-2">
                            <a class="pointer" href="https://www.hillspet.com.br/" target="_blank">
                                <img class="card-img-top" src="@Url.Content("~/Content/images/hills.jpg")" alt="Hills">
                            </a>

                        </div>
                    </div>
                    <div class="col">
                        <div class="card p-2">
                            <a class="pointer" href="http://acfadvogados.adv.br/" target="_blank">
                                <img class="card-img-top" src="@Url.Content("~/Content/images/acf-advogados.jpg")" alt="ACF Advogados">
                            </a>

                        </div>
                    </div>

                </div>

                <div class="row mt-2">
                    <div class="col">
                        <div class="card p-2">
                            <a class="pointer" href="https://www.facebook.com/animalcosasco" target="_blank">
                                <img class="card-img-top" src="@Url.Content("~/Content/images/animal-center.jpg")" alt="Animal Center">
                            </a>

                        </div>
                    </div>
                    <div class="col">
                        <div class="card p-2">
                            <a class="pointer" href="http://citvet.com.br/" target="_blank">
                                <img class="card-img-top" src="@Url.Content("~/Content/images/citvet.jpg")" alt="Citvet">
                            </a>
                        </div>
                    </div>

                </div>

                <div class="row mt-2">
                    <div class="col">
                        <div class="card p-2">
                            <a class="pointer" href="http://www.resolvecontabil.com.br/" target="_blank">
                                <img class="card-img-top" src="@Url.Content("~/Content/images/resolve-contabil.jpg")" alt="Resolve Contábil">
                            </a>
                           
                        </div>
                       
                    </div>
                    <div class="col">
                        <div class="card p-2">
                            <a class="pointer" href="https://ritacasarin.com.br/" target="_blank">
                                <img class="card-img-top" src="@Url.Content("~/Content/images/rita-casarin.jpg")" alt="Rita Casarin">
                            </a>
                            
                        </div>
                    </div>

                </div>

            </div>

            <div id="parceiros-desktop" class="d-none d-sm-block">

                <div class="row">
                    <div class="col">

                        <div class="card-group">
                            <div class="card p-2">
                                <a class="pointer" href="https://www.hillspet.com.br/" target="_blank">
                                    <img class="card-img-top" src="@Url.Content("~/Content/images/hills.jpg")" alt="Hills">
                                </a>
                                <div class="card-body text-center">
                                    <p class="card-text">Hills Transforming Lives</p>
                                </div>
                            </div>
                            <div class="card p-2">
                                <a class="pointer" href="http://acfadvogados.adv.br/" target="_blank">
                                    <img class="card-img-top" src="@Url.Content("~/Content/images/acf-advogados.jpg")" alt="ACF Advogados">
                                </a>
                                <div class="card-body text-center">
                                    <p class="card-text">Alencar Carneiro & Fortuna Advogados Associados</p>
                                </div>
                            </div>

                            <div class="card p-2">
                                <a class="pointer" href="https://www.facebook.com/animalcosasco" target="_blank">
                                    <img class="card-img-top" src="@Url.Content("~/Content/images/animal-center.jpg")" alt="Animal Center">
                                </a>
                                <div class="card-body text-center">
                                    <p class="card-text">Animal Center Osasco</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card-group">
                            <div class="card p-2">
                                <a class="pointer" href="http://citvet.com.br/" target="_blank">
                                    <img class="card-img-top" src="@Url.Content("~/Content/images/citvet.jpg")" alt="Citvet">
                                </a>
                                <div class="card-body text-center">
                                    <p class="card-text">CitVet</p>
                                </div>
                            </div>
                            <div class="card p-2">
                                <a class="pointer" href="http://www.resolvecontabil.com.br/" target="_blank">
                                    <img class="card-img-top" src="@Url.Content("~/Content/images/resolve-contabil.jpg")" alt="Resolve Contábil">
                                </a>
                                <div class="card-body text-center">
                                    <p class="card-text">Resolve Contábil</p>
                                </div>
                            </div>
                            <div class="card p-2">
                                <a class="pointer" href="https://ritacasarin.com.br/" target="_blank">
                                    <img class="card-img-top" src="@Url.Content("~/Content/images/rita-casarin.jpg")" alt="Rita Casarin">
                                </a>
                                <div class="card-body text-center">
                                    <p class="card-text">Rita Casarin - Job Organized Documents</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>


        </div>

        <div id="nosso-espaco">

            <div class="texto-espacado-10">
                <h2 class="frase-header">Nosso Espaço</h2>
            </div>

            <div class="texto-duas-colunas">

                <p>
                    A chácara localizada na Grande São Paulo abriga mais de 300 animais. Os cães vivem em canis e são divididos por temperamento ou por famílias.  Todos são vermifugados, vacinados e castrados. Recebem alimentação duas vezes ao dia e são tratados quando apresentam algum tipo de doença.
                </p>

                <p>
                    Os canis são construídos de acordo com normas internacionais e apesar de não ser o ambiente ideal para um cãozinho viver, estão hoje em um local seguro.
                </p>

                <p>
                    Recebemos diariamente pedidos de ajuda mas não conseguiríamos atender a todos, por isso não atuamos com pedidos de resgate. Precisamos prezar pela qualidade de vida dos animais que moram conosco. Também não divulgamos abertamente nosso endereço para evitar mais abandonos em nosso portão.
                </p>

                <p>
                    Abrimos as portas para receber os interessados em adotar, se voluntariar ou apadrinhar aos sábados à tarde. Venham nos conhecer! :) As visitas devem ser agendadas via email.
                </p>

            </div>

        </div>

        <div id="botoes">
            <div class="texto-espacado-10">

                <div id="botoes">
                    <div class="row">
                        <div class="col text-center">
                            <a href="@Url.Action("Index", "QueroAdotar")">
                                <img src="@Url.Content("~/Content/images/btn-adotar-150.png")" alt="Quero Adotar"
                                     class="botao-acao" />
                            </a>
                        </div>
                        <div class="col text-center">
                            <a href="@Url.Action("Index", "QueroAjudar")">
                                <img src="@Url.Content("~/Content/images/btn-ajudar-150.png")" alt="Quero Ajudar"
                                     class="botao-acao">
                            </a>
                        </div>
                        <div class="col text-center">
                            <a href="@Url.Action("Index","QueroApadrinhar")">
                                <img src="@Url.Content("~/Content/images/btn-apadrinhar-150.png")" alt="Quero Apadrinhar"
                                     class="botao-acao">
                            </a>
                        </div>
                        <div class="col text-center">
                            <a href="@Url.Action("Index", "PrecisoDeAjuda")">
                                <img src="@Url.Content("~/Content/images/btn-preciso-150.png")" alt="Preciso de Ajuda"
                                     class="botao-acao">
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>