
@{
    ViewBag.Title = "Preciso de Ajuda - OSCIP Acãochego";
}

<div id="pagina-preciso-de-ajuda" class="text-justify">

    <div class="container">

        <div class="texto-espacado-10">
            <h2 class="frase-header">Preciso de Ajuda</h2>
        </div>

        <div class="texto-espacado-10">
            <p>
                Recebemos diariamente muitos pedidos de ajuda e resgate de animais. Adoraríamos poder atender a todos porém não há protetores ou ONGs suficientes para tratar de todos os abandonos em nossa cidade. Estamos lotados por termos o coração muito grande. E não podemos comprometer a qualidade de vida dos animais que já estão conosco. Não resgataremos outros animais.
            </p>

            <p>
                Seguem abaixo sugestões para você mesmo(a) ser o(a) agente transformador(a) da vida do animal que cruzou o seu caminho. Parabéns por tomar essa decisão. Se cada um fizesse um pouco, poucos fariam muito e não teríamos tantos animais abandonados nas ruas.
            </p>

            <div id="dicas">

                <h5>
                    Dicas:
                </h5>

                <div class="row mt-4">
                    <div class="col-md-6 col-xs-12">
                        <div class="row">
                            <div class="col-1">
                                <p class="texto-xg cor-rosa">1</p>
                            </div>
                            <div class="col-11">
                                <p>Tire o animal da situação de risco, para isso aproxime-se devagar e com cuidado. Não se sabe por o que ele possa ter passado. Tirá-lo da rua e dar-lhe segurança é o primeiro passo para que ele se sinta bem novamente. Verifique se ele não possui plaquinha de identificação.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="row">
                            <div class="col-1">
                                <p class="texto-xg cor-cinza">2</p>
                            </div>
                            <div class="col-11">
                                <p>
                                    Leve o animal ao veterinário para verificar sexo, idade e estado de saúde. Verificar se é castrado (importantíssimo para quando você for doá-lo), checar se há chances dele ter um microchip de rastreamento e se está saudável para ir para um novo lar, se for esse o caso.
                                    <br />
                                    Link para a lista de veterinários gratuitos e a preços populares em São Paulo (<a href="http://arcabrasil.org.br/index.php/lista-vets-sp/">http://arcabrasil.org.br/index.php/lista-vets-sp/</a>)
                                </p>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="row mt-4">
                    <div class="col-md-6 col-xs-12">
                        <div class="row">
                            <div class="col-1">
                                <p class="texto-xg cor-azul">3</p>
                            </div>
                            <div class="col-11">
                                Abrigue o animal em um quarto ou quintal coberto em sua casa. Se o animal foi pequeno até um banheirinho serve. Caso já tenha outros animais, nunca os coloque no mesmo ambiente de imediato. Caso não possa abrigá-lo, peça ajuda e busque um lar temporário na casa de parentes, amigos, vizinhos ou hotelzinho como esses:

                                <br /><br />
                                DOG WORLD
                                <a href="www.parquecanino.com.br" target="_blank">www.parquecanino.com.br</a>

                                <br /><br />
                                CANE RESORT
                                <a href="www.caneresort.com.br" target="_blank">www.caneresort.com.br</a>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="row">
                            <div class="col-1">
                                <p class="texto-xg cor-vermelho">4</p>
                            </div>
                            <div class="col-11">
                                Enquanto ele se recupera em segurança, você pode verificar se ele não fugiu de casa e aproveitar para anunciar que o encontrou. Inclua foto, cidade, bairro e telefone com DDD. Poste em suas redes sociais, peça ajuda dos amigos para compartilhar, procure e anuncie nos grupos de facebook do bairro em que foi encontrado e também nos sites abaixo:
                                <br />
                                <a href="www.petsperdidos.com.br" target="_blank">www.petsperdidos.com.br</a>
                                <br />
                                <a href="www.facebook.com/ProcuraseCachorro" target="_blank">
                                    www.facebook.com/ProcuraseCachorro
                                </a>
                                <br />
                                <a href="www.procure1amigo.com.br" target="_blank">
                                    www.procure1amigo.com.br
                                </a>
                                <br /><br />
                                Procure também por feiras de adoção na sua região em que você possa levar o animalzinho.

                            </div>
                        </div>

                    </div>

                </div>

                <div class="row mt-4">
                    <div class="col-md-6 col-xs-12">
                        <div class="row">
                            <div class="col-1">
                                <p class="texto-xg cor-cinza">5</p>
                            </div>
                            <div class="col-11">
                                Quando encontrar uma nova família definitiva para o animal, por favor verifique se são pessoas responsáveis, se tem condições financeiras e disposição a acolher realmente o animal. Faça perguntas, entenda como funciona o lar dessas pessoas. Não entregue o animal a qualquer pessoa! E importante: ANTES DE DOAR, CASTRE. Existem muitas campanhas que castram gratuitamente ou com valores reduzidos. Busque no CCZ de sua cidade. Se informe em sua região.
                            </div>
                        </div>
                    </div>


                </div>

                <div class="row mt-4">
                    <div class="col">
                        <p>
                            Boa sorte!
                        </p>

                        <p>
                            Equipe Acãochego
                        </p>
                    
                        <div class="row text-center">
                            <div class="col-md-3 col-xs-12" onclick="abrirMateria('@Url.Action("DenunciaMausTratos", "Materias")')">

                                <div class="card mb-2 cartao-materia-pequeno">
                                    <div class="card-header">
                                        <img width="120"  src="@Url.Content("~/Content/images/materias/materia-chegando-em-casa.png")">
                                    </div>
                                    <div class="card-body">
                                        <p class="card-title">Denúncia de maus tratos</p>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 col-xs-12" onclick="abrirMateria('@Url.Action("Index", "QueroAdotar")')">

                                <div class="card mb-2 cartao-materia-pequeno">
                                    <div class="card-header">
                                        <img width="120" src="@Url.Content("~/Content/images/materias/materia-chegando-em-casa.png")">
                                    </div>
                                    <div class="card-body">
                                        <p class="card-title">Política de adoção</p>
                                    </div>
                                </div>

                            </div>

                            <div class="col-md-3 col-xs-12" onclick="abrirMateria('@Url.Action("Castracao","Materias")')">

                                <div class="card mb-2 cartao-materia-pequeno">
                                    <div class="card-header">
                                        <img width="120" src="@Url.Content("~/Content/images/materias/materia-chegando-em-casa.png")">
                                    </div>
                                    <div class="card-body">
                                        <p class="card-title">Por que castrar?</p>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 col-xs-12" onclick="abrirMateria('@Url.Action("PerguntasFrequentes", "Materias")')">

                                <div class="card mb-2 cartao-materia-pequeno">
                                    <div class="card-header">
                                        <img width="120" src="@Url.Content("~/Content/images/materias/materia-chegando-em-casa.png")">
                                    </div>
                                    <div class="card-body">
                                        <p>Perguntas frequentes</p>
                                    </div>
                                </div>

                            </div>
                        </div>


                    </div>
                </div>

            </div>


        </div>


    </div>
</div>

@section Scripts {

    <script type="text/javascript">

        function abrirMateria(url) {

            window.location.href = url;
        }

    </script>

}